.better {
  background-color: #e3e7ea;
  text-align: center;
  padding: 30px 10px;
  margin: 30px 0;
}

.better_title > p {
  margin: 10px 0;
}

.better_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.better_box_item {
  width: 350px;
}
.better_box_item > img {
  width: 100%;
}
.better_item_content {
  background-color: white;
  margin: 0 20px;
  border-radius: 4px;
  padding: 30px 20px;
  transform: translateY(-40px);
}
.better_item_content > h2 {
  font-size: 20px;
}
.better_item_content > p {
  font-size: 14px;
  padding: 10px 0;
}
.better_item_but {
  background-image: linear-gradient(#ba1600, #941403);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 5px;
}

/* Section we */
.aq {
  padding: 20px;
}

.aq_box {
  width: 100%;
}
.aq_box_item > p {
  margin: 0;
  display: block;
  border-bottom: 2px solid #dadada;
  color: #333;
  padding: 14px 45px 14px 14px;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}
.aq_box_item > p::before {
  content: "+";
  font-weight: 900;
  font-size: 14px;
  width: 35px;
  height: 45px;
  line-height: 48px;
  background: #e3e7ea;
  position: absolute;
  top: 4px;
  right: 0px;
  font-size: 16px;
  color: #333;
  text-align: center;
  cursor: pointer;
}

.aq_box_item_content {
  font-size: 12px;

  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}
.aq_box_item_content.active {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.aq_content {
  padding: 20px 30px;
}
