
.jr_container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}


.label_covid{
  background-color: #FBF3E0;
  text-align: center;
  padding: 20px;
}
.label_covid > p > span{
  color: red;
  font-weight: bold;
}
.lable_covid_p1{
  /* font-weight: bold; */
  font-size: 15px;
}
.lable_covid_p2{
  font-size: 12px;
}
.lable_cobid_close{
  border: none;
  background:none;
  color: rgb(175, 175, 175);
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

